@section Style {
	<link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true">
}

<section class="center-blocks">
	<a href="@Url.Action("Get", "Concentration")" class="block"
	   style="background-image: url('~/images/concentration.jpg');">
		<h2>Concentration session</h2>
	</a>
	<a href="@Url.Action("Get", "Plan")" class="block"
	   style="background-image: url('~/images/tasks.jpg');">
		<h2>Tasks</h2>
	</a>
	<a href="@Url.Action("Get", "Note")" class="block"
	   style="background-image: url('~/images/notes.jpg');">
		<h2>Notes</h2>
	</a>
	<a href="@Url.Action("Get", "Statistic")" class="block"
	   style="background-image: url('~/images/statistic.jpg');">
		<h2>Statistic and result tracking</h2>
	</a>
	<a href="@Url.Action("Get", "Settings")" class="block"
	   style="background-image: url('~/images/settings.jpg');">
		<h2>Settings</h2>
	</a>
	<a href="@Url.Action("About", "Home")" class="block"
	   style="background-image: url('~/images/about.jpg');">
		<h2>About</h2>
	</a>
</section>